@import './utils/variables';
@import './utils/mixins';

@import './base/base';
@import './base/typography';

@import './components/buttons';
@import './components/icons';
@import './components/carousel';
@import './components/burgerMenu';

@import './layouts/header';
@import './layouts/nav';
@import './layouts/footer';
@import './layouts/forms';

@import './pages/home';