*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
body .hidden {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}

@font-face {
  font-family: "orkneyregular";
  src: url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.woff") format("woff"), url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.ttf") format("truetype"), url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.svg#orkneyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "orkneyregular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
body * {
  font-size: 1.125rem;
}

.btn {
  color: #ffffff;
  border-radius: 1.5rem;
  border: 0;
  padding: 0.75rem 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn--bg-green {
  background-color: #209151;
}
.btn--bg-white {
  background-color: #ffffff;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a5cc1e;
  border-radius: 1.5rem;
  z-index: -1;
  opacity: 0;
}
.btn:hover::after {
  opacity: 1;
}

.icon {
  font-size: 1.5rem;
}

.hero-carousel {
  position: relative !important;
}
.hero-carousel__slide__img {
  width: 100%;
}
.hero-carousel__slide__content {
  position: absolute;
  bottom: 12rem;
  color: #ffffff;
  padding: 0 15rem;
  width: 100%;
  text-align: center;
}
.hero-carousel__slide__content__title {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 0;
}
.hero-carousel__slide__content__text {
  font-size: 1.5rem;
  padding: 0 4rem;
}
.hero-carousel__slide__content__link {
  display: inline-block;
  padding-right: 4rem;
}
.hero-carousel__slide__content__link__icon {
  position: absolute;
  right: 1.75rem;
  bottom: 0.675rem;
}
.hero-carousel__dots {
  bottom: 9rem !important;
}

.best-product-carousel {
  display: flex;
  align-items: center;
}
.best-product-carousel__image {
  width: 100%;
  height: 18.75rem;
  border-radius: 0.25rem;
  object-fit: cover;
}
.best-product-carousel__arrow {
  top: 110% !important;
  border-radius: initial !important;
  background-color: #ffffff !important;
}
.best-product-carousel__arrow:hover {
  color: #ffffff !important;
  background-color: #209151 !important;
}
.best-product-carousel__arrow__prev {
  left: 75% !important;
}
.best-product-carousel__arrow__next {
  right: 15% !important;
}

.header {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
}
.nav__list__item {
  padding-left: 2rem;
}
.nav__list__link {
  color: #072328;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}
.footer-nav__list__item {
  margin-bottom: 1rem;
}
.footer-nav__list__link {
  color: #ffffff;
}
.footer-nav__list__title {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  background-color: #072328;
  color: #ffffff;
  padding: 3rem 7rem;
}
.footer__logo {
  display: block;
  margin: auto;
}
.footer__container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.footer__content {
  flex: 1.2;
}
.footer__content__title {
  font-size: 1.5rem;
}
.footer__content__title, .footer__content__text {
  width: 95%;
}

.form-search {
  margin-left: 3rem;
  position: relative;
}
.form-search__input {
  padding: 1rem 5rem 1rem 1.375rem;
  border-radius: 1.75rem;
  border: 0.063rem solid #000000;
}
.form-search__input::placeholder {
  font-weight: 500;
}
.form-search__btn {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0.375rem 0.375rem 0.315rem 0.375rem;
}
.form-search__btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form-send-email {
  position: relative;
}
.form-send-email__input {
  width: 100%;
  padding: 1.375rem 10rem 1.375rem 1.5rem;
  border: 0.063rem solid #ffffff;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
.form-send-email__input::placeholder {
  font-weight: 500;
}
.form-send-email__input:focus {
  background-color: rgba(255, 255, 255, 0);
}
.form-send-email__btn {
  position: absolute;
  top: 0.715rem;
  right: 0.65rem;
}

.categories-product {
  display: grid;
  grid-template-columns: 1fr 70%;
  padding: 7.5rem 0 7.5rem 7.5rem;
  overflow-x: hidden;
}
.categories-product__content__title {
  font-size: 3rem;
  margin-right: 5rem;
}
.categories-product__content__text__arrow {
  color: #494949;
  padding-left: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
