*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
body .hidden {
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}

@font-face {
  font-family: "orkneyregular";
  src: url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.woff") format("woff"), url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.ttf") format("truetype"), url("/assets/font/orkney/orkney_regular/orkney-regular-webfont.svg#orkneyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "orkneyregular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
body * {
  font-size: 1.125rem;
}

.btn {
  color: #ffffff;
  border-radius: 1.5rem;
  border: 0;
  padding: 0.75rem 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn--bg-green {
  background-color: #209151;
}
.btn--bg-white {
  background-color: #ffffff;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a5cc1e;
  border-radius: 1.5rem;
  z-index: -1;
  opacity: 0;
}
.btn:hover::after {
  opacity: 1;
}

.icon {
  font-size: 1.5rem;
}
.icon--m-left {
  margin-left: 1rem;
}

.hero-carousel {
  position: relative !important;
}
.hero-carousel__slide__img {
  width: 100%;
}
.hero-carousel__slide__content {
  position: absolute;
  bottom: 12rem;
  color: #ffffff;
  padding: 0 15rem;
  width: 100%;
  text-align: center;
}
.hero-carousel__slide__content__title {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 0;
}
.hero-carousel__slide__content__text {
  font-size: 1.5rem;
  padding: 0 4rem;
}
.hero-carousel__slide__content__link {
  display: inline-block;
  padding-right: 4rem;
}
.hero-carousel__slide__content__link__icon {
  position: absolute;
  right: 1.75rem;
  bottom: 0.675rem;
}
.hero-carousel__dots {
  bottom: 9rem !important;
}
@media screen and (max-width: 600px) {
  .hero-carousel__slide__img {
    height: 100vh;
    object-fit: cover;
  }
  .hero-carousel__slide__content {
    padding: 2rem;
    text-align: left;
  }
  .hero-carousel__slide__content__title {
    font-size: calc(1.5rem + 3vw);
  }
  .hero-carousel__slide__content__text {
    font-size: calc(1rem + 1vw);
    padding: 1rem 0;
  }
}

.best-product-carousel {
  display: flex;
  align-items: center;
}
.best-product-carousel__image {
  width: 100%;
  height: 19.125rem;
  border-radius: 0.25rem;
  object-fit: cover;
}
.best-product-carousel__arrow {
  top: 110% !important;
  border-radius: initial !important;
  background-color: #ffffff !important;
}
.best-product-carousel__arrow:hover {
  color: #ffffff !important;
  background-color: #209151 !important;
}
.best-product-carousel__arrow__prev {
  left: 75% !important;
}
.best-product-carousel__arrow__next {
  right: 15% !important;
}
@media screen and (max-width: 600px) {
  .best-product-carousel__arrow__prev {
    left: 60% !important;
  }
}

.our-products-carousel {
  display: flex;
  align-items: center;
}
.our-products-carousel__image {
  width: 100%;
  height: 19.125rem;
  border-radius: 0.25rem;
  object-fit: cover;
}
.our-products-carousel__arrow {
  top: 115% !important;
  border-radius: initial !important;
  background-color: #ffffff !important;
}
.our-products-carousel__arrow:hover {
  color: #ffffff !important;
  background-color: #209151 !important;
}
.our-products-carousel__arrow__prev {
  left: 83% !important;
}
.our-products-carousel__arrow__next {
  right: 10% !important;
}
@media screen and (max-width: 600px) {
  .our-products-carousel__arrow__prev {
    left: 65% !important;
  }
}

.header {
  padding: 3rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.header .button-close {
  display: none;
  margin-left: 1rem;
}
@media screen and (max-width: 1208px) {
  .header {
    padding: 2rem;
  }
  .header__logo {
    flex: 1;
  }
  .header .button-close--visible {
    display: block;
    z-index: 100;
  }
}

.nav__list {
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
}
.nav__list__item {
  padding-left: 2rem;
}
.nav__list__link {
  color: #072328;
}
.nav__list__link:hover {
  color: #209151;
}
@media screen and (max-width: 1208px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5019607843);
    backdrop-filter: blur(0.8rem);
    transform: translateX(-100%);
    transition: transform 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav--visible {
    transform: translateX(0);
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__list__item {
    padding-left: 0;
    margin-top: 2rem;
  }
  .nav__list__link {
    font-weight: 700;
  }
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 1208px) {
  .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}
.footer-nav__list__item {
  margin-bottom: 1rem;
}
.footer-nav__list__link {
  color: #ffffff;
}
.footer-nav__list__title {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 600px) {
  .footer-nav {
    flex-direction: column;
    align-items: unset;
  }
}

.footer {
  background-color: #072328;
  color: #ffffff;
  padding: 3rem 7rem;
}
.footer__logo {
  display: block;
  margin: auto;
}
.footer__container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.footer__content {
  flex: 1.2;
}
.footer__content__title {
  font-size: 1.5rem;
}
.footer__content__title, .footer__content__text {
  width: 95%;
}
@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__content {
    text-align: center;
  }
}

.form-search__input {
  padding: 1rem 3rem 1rem 1.375rem;
  margin-right: 1rem;
  border-radius: 1.75rem;
  border: 0.063rem solid #000000;
}
.form-search__input::placeholder {
  font-weight: 500;
  font-size: 1rem;
}
.form-search__btn {
  margin-left: -3.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
.form-search__btn:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (max-width: 1208px) {
  .form-search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5019607843);
    backdrop-filter: blur(0.8rem);
    transform: translateX(-100%);
    transition: transform 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-search--visible {
    transform: translateX(0);
  }
}

.search-mobile {
  display: none;
}
@media screen and (max-width: 1208px) {
  .search-mobile {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
    z-index: 100;
  }
}

.form-send-email {
  display: flex;
  flex-direction: row;
}
.form-send-email__input {
  width: 100%;
  padding: 1.375rem 10rem 1.375rem 1.5rem;
  border: 0.063rem solid #ffffff;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
.form-send-email__input::placeholder {
  font-weight: 500;
}
.form-send-email__input:focus {
  background-color: rgba(255, 255, 255, 0);
}
.form-send-email__btn {
  margin-left: -8.75rem;
  margin-top: 0.61rem;
  height: 3rem;
}
@media screen and (max-width: 600px) {
  .form-send-email {
    margin: 3rem 0;
  }
}

.categories-product {
  display: grid;
  grid-template-columns: 1fr 70%;
  padding: 7.5rem 0 7.5rem 7.5rem;
}
.categories-product__content__title {
  font-size: 3rem;
  margin-right: 5rem;
}
.categories-product__content__text__arrow {
  color: #494949;
  padding-left: 1.25rem;
}
@media screen and (max-width: 600px) {
  .categories-product {
    grid-template-columns: 1fr;
    padding-left: 2rem;
  }
}

.custom-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-services__content {
  width: 50%;
  margin: auto;
  text-align: center;
}
.custom-services__content__title {
  font-size: 3rem;
  font-weight: 700;
  color: #072328;
}
.custom-services__content__text {
  font-size: 1.125rem;
  color: #b9b8b8;
}
.custom-services__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 7.625rem;
  margin: 3.438rem 10.625rem;
}
.custom-services__services__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-services__services__item__img {
  width: 100%;
}
.custom-services__services__item__text {
  display: block;
  position: absolute;
  color: #ffffff;
  font-size: 1.5rem;
}
.custom-services__see-more {
  font-size: 1.5rem;
  margin: 2rem 0 4.5rem 0;
}
@media screen and (max-width: 600px) {
  .custom-services__content {
    width: 90%;
  }
  .custom-services__services {
    grid-template-columns: 1fr;
    margin: 3.438rem 0;
    row-gap: 2rem;
  }
}

.our-products {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0 7.5rem 7rem;
}
.our-products__content {
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 35rem;
  align-items: center;
  margin: 0 5rem 0 0;
}
.our-products__content__title {
  color: #494949;
  font-size: 3rem;
  font-weight: 700;
}
.our-products__content__text__arrow {
  color: #494949;
  padding-left: 0.75rem;
}
@media screen and (max-width: 600px) {
  .our-products {
    padding-left: 2rem;
  }
  .our-products__content {
    grid-template-columns: 1fr;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 25rem);
  gap: 6.25rem 1.25rem;
  margin: 7.4rem 7.5rem 7.5rem 7.5rem;
}
.testimonials__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
}
.testimonials__content__title {
  color: #072328;
  font-size: 3rem;
  font-weight: 700;
}
.testimonials__content__text {
  color: rgba(7, 35, 40, 0.4);
  font-size: 1.125rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 2rem;
}
.testimonials__testimonial {
  position: relative;
  border-radius: 0.625rem;
}
.testimonials__testimonial--1 {
  background-color: #072328;
}
.testimonials__testimonial--2 {
  background-color: #0f4c60;
}
.testimonials__testimonial--3 {
  background-color: #209151;
}
.testimonials__testimonial__nameAuthor {
  color: #d6d6d6;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  order: 3;
  margin-bottom: -5rem;
}
.testimonials__testimonial__image {
  position: absolute;
  top: -4.5rem;
  border-radius: 50%;
  order: 1;
}
.testimonials__testimonial__text {
  color: #c4c4c4;
  text-align: center;
  font-size: 1.125rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 2rem;
  order: 2;
}
@media screen and (max-width: 600px) {
  .testimonials {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    row-gap: 10rem;
  }
  .testimonials__grid {
    padding: 7rem 2rem;
  }
  .testimonials__content {
    padding: 0;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 12rem 7.5rem 6rem 7.5rem;
}
.articles__article--main {
  grid-row: 1/3;
}
.articles__article__image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}
.articles__article__image--main {
  height: 24rem;
  width: 35rem;
}
.articles__article__content__title {
  color: #072328;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}
.articles__article__content__text {
  color: #c4c4c4;
  font-size: 1.125rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .articles__article__image--main {
    height: auto;
    width: 100%;
  }
  .articles__article__content__text {
    display: none;
  }
}

.callToAction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 7.5rem 12rem 7.5rem;
}
.callToAction__grid {
  border-radius: 0.625rem;
}
.callToAction__grid--grey {
  background-color: #d9d9d9;
}
.callToAction__grid--green {
  background-color: #209151;
  color: white;
}
.callToAction__grid-services {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  padding: 2rem 4rem 2rem 0;
}
.callToAction__grid-services__service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.callToAction__grid-services__service__image {
  border-radius: 50%;
  order: 1;
}
.callToAction__grid-services__service__icon {
  order: 3;
}
.callToAction__grid-services__service__content {
  order: 2;
  margin: 0 2rem;
}
.callToAction__grid-services__service__content__title {
  color: #494949;
  font-size: 1.25rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}
.callToAction__grid-services__service__content__text {
  color: #a5a2a2;
  font-size: 0.875rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  margin: 0;
}
.callToAction__grid-main {
  margin: 2rem 0 2rem -4rem;
  padding: 0 3rem;
}
.callToAction__grid-main__content__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.callToAction__grid-main__content__text {
  font-size: 1.125rem;
  line-height: 2rem;
}
.callToAction__grid-main__content__button {
  display: inline-block;
  color: #494949;
}
.callToAction__grid-main__content__button:hover {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .callToAction {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }
  .callToAction__grid-services {
    display: none;
  }
  .callToAction__grid-main {
    padding: 2rem 2rem 5rem 2rem;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
