*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
  }
}
