@font-face {
  font-family: 'orkneyregular';
  src: url('/assets/font/orkney/orkney_regular/orkney-regular-webfont.woff')
      format('woff'),
    url('/assets/font/orkney/orkney_regular/orkney-regular-webfont.ttf')
      format('truetype'),
    url('/assets/font/orkney/orkney_regular/orkney-regular-webfont.svg#orkneyregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: map-get($map: $font-family, $key: orkney), Arial, Helvetica, sans-serif;
  font-weight: 400;
  * {
    font-size: map-get($map: $font-size, $key: text);
  }
}
