.categories-product {
  display: grid;
  grid-template-columns: 1fr 70%;
  padding: 7.5rem 0 7.5rem 7.5rem;
  &__content {
    &__title {
      font-size: map-get($map: $font-size, $key: h2);
      margin-right: 5rem;
    }
    &__text {
      &__arrow {
        color: #494949;
        padding-left: 1.25rem;
      }
    }
  }
  @include mobile-only {
    grid-template-columns: 1fr;
  }
  @include mobile-tablet {
    padding-left: 2rem;
  }
  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
  }
}
.custom-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    width: 50%;
    margin: auto;
    text-align: center;
    &__title {
      font-size: map-get($map: $font-size, $key: h2);
      font-weight: 700;
      color: $color-quaternary;
    }
    &__text {
      font-size: map-get($map: $font-size, $key: text);
      color: #b9b8b8;
    }
  }
  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 7.625rem;
    margin: 3.438rem 10.625rem;
    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        width: 100%;
      }
      &__text {
        display: block;
        position: absolute;
        color: #ffffff;
        font-size: map-get($map: $font-size, $key: h3);
      }
    }
  }
  &__see-more {
    font-size: map-get($map: $font-size, $key: h3);
    margin: 2rem 0 4.5rem 0;
  }
  @include mobile-only {
    &__content {
      width: 90%;
    }
  }
  @include mobile-tablet {
    &__services {
      grid-template-columns: 1fr;
      margin: 3.438rem 0;
      row-gap: 2rem;
    }
  }
  @include tablet-only {
    &__content {
      width: 80%;
    }
  }
}
.our-products {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0 7.5rem 7rem;
  &__content {
    display: grid;
    grid-template-columns: 35% 1fr;
    column-gap: 35rem;
    align-items: center;
    margin-right: 5rem;
    &__title {
      color: #494949;
      font-size: map-get($map: $font-size, $key: h2);
      font-weight: 700;
    }
    &__text {
      &__arrow {
        color: #494949;
        padding-left: 0.75rem;
      }
    }
  }
  @include mobile-tablet {
    padding-left: 2rem;
    &__content {
      grid-template-columns: 1fr;
    }
  }
  @include tablet-only {
    padding-right: 2rem;
    &__content {
      column-gap: 20rem;
      margin-right: 0;
    }
  }
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 25rem);
  gap: 6.25rem 1.25rem;
  margin: 7.4rem 7.5rem 7.5rem 7.5rem;
  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
  }
  &__content {
    &__title {
      color: $color-quaternary;
      font-size: map-get($map: $font-size, $key: h2);
      font-weight: 700;
    }
    &__text {
      color: rgba(7, 35, 40, 0.4);
      font-size: map-get($map: $font-size, $key: text);
      font-family: map-get($map: $font-family, $key: openSans);
      font-weight: 600;
      line-height: 2rem;
    }
  }
  &__testimonial {
    position: relative;
    border-radius: 0.625rem;
    &__nameAuthor {
      color: #d6d6d6;
      font-size: map-get($map: $font-size, $key: h3);
      font-weight: 700;
      line-height: 2rem;
      order: 3;
      margin-bottom: -5rem;
    }
    &__image {
      position: absolute;
      top: -4.5rem;
      border-radius: 50%;
      order: 1;
    }
    &__text {
      color: #c4c4c4;
      text-align: center;
      font-size: map-get($map: $font-size, $key: text);
      font-family: map-get($map: $font-family, $key: openSans);
      line-height: 2rem;
      order: 2;
    }
    &--1 {
      background-color: $color-quaternary;
    }
    &--2 {
      background-color: $color-secondary;
    }
    &--3 {
      background-color: $color-primary;
    }
  }
  @include mobile-only {
    grid-template-columns: 1fr;
    row-gap: 10rem;
    &__grid {
      padding: 7rem 2rem;
    }
    &__content {
      padding: 0;
    }
  }
  @include mobile-tablet {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include tablet-only {
    row-gap: 15rem;
    &__grid {
      padding: 3rem;
    }
    &__content {
      padding: 1rem;
    }
    &__testimonial {
      &__nameAuthor {
        margin-bottom: -2rem;
      }
    }
  }
}
.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 12rem 7.5rem 6rem 7.5rem;
  &__article {
    &--main {
      grid-row: 1 / 3;
    }
    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 0.625rem;
      &--main {
        height: 24rem;
        width: 35rem;
      }
    }
    &__content {
      &__title {
        color: $color-quaternary;
        font-size: map-get($map: $font-size, $key: h3);
        font-weight: 700;
        line-height: 2.25rem;
      }
      &__text {
        color: #c4c4c4;
        font-size: map-get($map: $font-size, $key: text);
        line-height: 2.5rem;
      }
    }
  }
  @include mobile-only {
    &__article {
      &__content {
        &__text {
          display: none;
        }
      }
    }
  }
  @include mobile-tablet {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    &__article {
      &__image {
        &--main {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.callToAction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6rem 7.5rem 12rem 7.5rem;
  &__grid {
    border-radius: 0.625rem;
    &-services {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 1rem;
      padding: 2rem 4rem 2rem 0;
      &__service {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__image {
          border-radius: 50%;
          order: 1;
        }
        &__icon {
          order: 3;
        }
        &__content {
          order: 2;
          margin: 0 2rem;
          &__title {
            color: #494949;
            font-size: map-get($map: $font-size, $key: h4);
            font-family: map-get($map: $font-family, $key: openSans), Arial,
              Helvetica, sans-serif;
            font-weight: 700;
            margin: 0;
          }
          &__text {
            color: #a5a2a2;
            font-size: calc(map-get($map: $font-size, $key: text) - 0.25rem);
            font-family: map-get($map: $font-family, $key: openSans), Arial,
              Helvetica, sans-serif;
            line-height: 1.5rem;
            margin: 0;
          }
        }
      }
    }
    &-main {
      margin: 2rem 0 2rem -4rem;
      padding: 0 3rem;
      &__content {
        &__title {
          font-size: calc(map-get($map: $font-size, $key: h2) - 0.5rem);
          font-weight: 700;
        }
        &__text {
          font-size: map-get($map: $font-size, $key: text);
          line-height: 2rem;
        }
        &__button {
          display: inline-block;
          color: #494949;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    &--grey {
      background-color: #d9d9d9;
    }
    &--green {
      background-color: $color-primary;
      color: white;
    }
  }
  @include mobile-only {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    &__grid {
      &-services {
        display: none;
      }
      &-main {
        padding: 2rem 2rem 5rem 2rem;
        margin: 0;
      }
    }
  }
  @include tablet-only {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    &__grid {
      &-services {
        &__service {
          &__icon {
            display: none;
          }
        }
      }
      &-main {
        margin: -2rem 2rem 2rem 2rem;
        padding-bottom: 3rem;
      }
    }
  }
}
