.categories-product {
  display: grid;
  grid-template-columns: 1fr 70%;
  padding: 7.5rem 0 7.5rem 7.5rem;
  &__content {
    &__title {
      font-size: map-get($map: $font-size, $key: h2);
      margin-right: 5rem;
    }
    &__text {
      &__arrow {
        color: #494949;
        padding-left: 1.25rem;
      }
    }
  }
}
