@mixin position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin pseudo-element {
  content: '';
  @include position-absolute();
}

@mixin mobile-menu {
  @media screen and (max-width: map-get($breakpoints, mobile-menu)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin mobile-tablet {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: calc(map-get($breakpoints, mobile) + 1px)) and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-small-laptop {
  @media screen and (max-width: map-get($breakpoints, smallLaptop)) {
    @content;
  }
}

@mixin small-laptop-only {
  @media screen and (min-width: calc(map-get($breakpoints, tablet) + 1px)) and (max-width: map-get($breakpoints, smallLaptop)) {
    @content;
  }
}