$color-primary: #209151;
$color-secondary: #0f4c60;
$color-tertiary: #a5cc1e;
$color-quaternary: #072328;

$font-size: (
  h1: 6.25rem,
  h2: 3rem,
  h3: 1.5rem,
  h4: 1.25rem,
  text: 1.125rem,
);

$orkney: 'orkneyregular', Arial, Helvetica, sans-serif;
$openSans: 'Open Sans', Arial, Helvetica, sans-serif;

$font-family: (
  orkney: $orkney,
  openSans: $openSans,
)