.footer {
  background-color: $color-quaternary;
  color: #ffffff;
  padding: 3rem 7rem;
  &__logo {
    display: block;
    margin: auto;
  }
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
  &__content {
    flex: 1.2;
    &__title {
      font-size: map-get($map: $font-size, $key: h3);
    }
    &__title,
    &__paragraph {
      width: 95%;
    }
  }
}
