.footer {
  background-color: $color-quaternary;
  color: #ffffff;
  padding: 3rem 7rem;
  &__logo {
    display: block;
    margin: auto;
  }
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
  &__content {
    flex: 1.2;
    &__title {
      font-size: map-get($map: $font-size, $key: h3);
    }
    &__title,
    &__text {
      width: 95%;
    }
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    &__container {
      flex-direction: column;
    }
    &__content {
      text-align: center;
    }
  }
}
