.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    &__item {
      padding-left: 2rem;
    }
    &__link {
      color: $color-quaternary;
    }
  }
}
