.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__list {
    display: flex;
    flex-direction: row;
    &__item {
      padding-left: 2rem;
    }
    &__link {
      color: $color-quaternary;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
  &__list {
    &__item {
      margin-bottom: 1rem;
    }
    &__link {
      color: #ffffff;
    }
    &__title {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
